/node_modules/
/dist/
.DS_Store
**/.history
/src/tmp/
.routify
.netlify
assets/build
yarn.lock
.vscode
*.yaml
*.pyc
__pycache__
package-lock.json
py/__pycache__
yarn-error.log
TODO.md
.idea/
*.sqlite
test.py
Pipfile
Pipfile.lock
venv/
/shoten-backend/